
#layoutSidenav_nav
    nav#sidenavAccordion.sb-sidenav.accordion.sb-sidenav-dark
        // Menu của sidebar
        .sb-sidenav-menu
            .nav
                .sb-sidenav-menu-heading Nội dung chính 
                a.nav-link(class=sidebarActiveTongquat, href='/admin/tong-quat')
                    .sb-nav-link-icon
                        i.fas.fa-tachometer-alt
                    | Tổng quát 

                a.nav-link(class=sidebarActiveQuanlytaiKhoan, href='/admin/quan-li-taiKhoan')
                    .sb-nav-link-icon
                        i.fas.fa-user
                    | Quản lý tài khoản


                a.nav-link(class=sidebarActiveQuanlynguonSanPham, href='/admin/quan-li-nguonSanPham')
                    .sb-nav-link-icon
                        i.fas.fa-user
                    | Quản lý nguồn sản phẩm


                a.nav-link(class=sidebarActiveQuanlyban, href='/admin/quan-li-ban')
                    .sb-nav-link-icon
                        i.fas.fa-user
                    | Quản lý bàn


                a.nav-link(class=sidebarActiveQuanlysanPham, href='/admin/quan-li-sanPham')
                    .sb-nav-link-icon
                        i.fas.fa-user
                    | Quản lý sản phẩm


                a.nav-link(class=sidebarActiveQuanlynhanVien, href='/admin/quan-li-nhanVien')
                    .sb-nav-link-icon
                        i.fas.fa-user
                    | Quản lý nhân viên


                a.nav-link(class=sidebarActiveQuanlykhachHang, href='/admin/quan-li-khachHang')
                    .sb-nav-link-icon
                        i.fas.fa-user
                    | Quản lý khách hàng


                a.nav-link(class=sidebarActiveQuanlyxuatHang, href='/admin/quan-li-xuatHang')
                    .sb-nav-link-icon
                        i.fas.fa-user
                    | Quản lý xuất hàng


                a.nav-link(class=sidebarActiveQuanlynhapHang, href='/admin/quan-li-nhapHang')
                    .sb-nav-link-icon
                        i.fas.fa-user
                    | Quản lý nhập hàng


                a.nav-link(class=sidebarActiveQuanlychiTietXuatHang, href='/admin/quan-li-chiTietXuatHang')
                    .sb-nav-link-icon
                        i.fas.fa-user
                    | Quản lý chi tiết xuất hàng


                a.nav-link(class=sidebarActiveQuanlychiTietNhapHang, href='/admin/quan-li-chiTietNhapHang')
                    .sb-nav-link-icon
                        i.fas.fa-user
                    | Quản lý chi tiết nhập hàng

        // Thông tin người dùng đăng nhập
        .sb-sidenav-footer
            .small Bạn đã đăng nhập bằng tài khoản 
            span#loginInfo(maTaiKhoan=taiKhoan.maTaiKhoan, tenDangNhap=taiKhoan.tenDangNhap) #{taiKhoan.tenDangNhap}
