
#layoutSidenav_nav
    nav#sidenavAccordion.sb-sidenav.accordion.sb-sidenav-dark
        // Menu của sidebar
        .sb-sidenav-menu.d-flex.flex-column.justtify-content-between
            .nav
                .sb-sidenav-menu-heading Nội dung chính 
                a.nav-link(class=sidebarActiveTongquat, href='/admin/tong-quat')
                    .sb-nav-link-icon
                        i.fas.fa-tachometer-alt
                    | Tổng quát 

                a.nav-link(class=sidebarActiveQuanlytaikhoan, href='/admin/quan-li-taikhoan')
                    .sb-nav-link-icon
                        i.fas.fa-user
                    | Quản lý tài khoản


                a.nav-link(class=sidebarActiveQuanlynguonsanpham, href='/admin/quan-li-nguonsanpham')
                    .sb-nav-link-icon
                        i.fas.fa-user
                    | Quản lý nguồn sản phẩm


                a.nav-link(class=sidebarActiveQuanlyban, href='/admin/quan-li-ban')
                    .sb-nav-link-icon
                        i.fas.fa-user
                    | Quản lý bàn


                a.nav-link(class=sidebarActiveQuanlysanpham, href='/admin/quan-li-sanpham')
                    .sb-nav-link-icon
                        i.fas.fa-user
                    | Quản lý sản phẩm


                a.nav-link(class=sidebarActiveQuanlynhanvien, href='/admin/quan-li-nhanvien')
                    .sb-nav-link-icon
                        i.fas.fa-user
                    | Quản lý nhân viên


                a.nav-link(class=sidebarActiveQuanlykhachhang, href='/admin/quan-li-khachhang')
                    .sb-nav-link-icon
                        i.fas.fa-user
                    | Quản lý khách hàng


                a.nav-link(class=sidebarActiveQuanlyxuathang, href='/admin/quan-li-xuathang')
                    .sb-nav-link-icon
                        i.fas.fa-user
                    | Quản lý xuất hàng


                a.nav-link(class=sidebarActiveQuanlynhaphang, href='/admin/quan-li-nhaphang')
                    .sb-nav-link-icon
                        i.fas.fa-user
                    | Quản lý nhập hàng


                a.nav-link(class=sidebarActiveQuanlychitietxuathang, href='/admin/quan-li-chitietxuathang')
                    .sb-nav-link-icon
                        i.fas.fa-user
                    | Quản lý chi tiết xuất hàng


                a.nav-link(class=sidebarActiveQuanlychitietnhaphang, href='/admin/quan-li-chitietnhaphang')
                    .sb-nav-link-icon
                        i.fas.fa-user
                    | Quản lý chi tiết nhập hàng

        // Thông tin người dùng đăng nhập
        .sb-sidenav-footer
                .small Bạn đã đăng nhập bằng tài khoản 
                span#loginInfo(mataikhoan=taikhoan.mataikhoan, tendangnhap=taikhoan.tendangnhap) 
                    | #{taikhoan.tendangnhap}
